Fully Convolutional Networks for Semantic Segmentation - Mạng nơ-ron tích chập hoàn toàn cho phân đoạn ngữ nghĩa
Convolutional Neural Networks - CNN là một loại thuật toán học sâu chuyên biệt được thiết kế chủ yếu cho các tác vụ yêu cầu nhận dạng đối tượng, bao gồm phân loại, phát hiện và phân đoạn hình ảnh.




