<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ</title>
    <th:block th:replace="~{base :: css}"></th:block>
</head>
<body>
    <div th:replace="~{base :: header}"></div>

    <section class="container mt-4 mb-5">
        <div class="card shadow-sm border-0 rounded-3">
            <div class="card-header bg-black text-white d-flex justify-content-between align-items-center py-3">
                <h5 class="mb-0" style="color: #e67e22; font-family: 'Playfair Display', serif;">
                    👥 Thêm người dùng mới
                </h5>
            </div>

            <form method="post" th:object="${userDto}" th:action="@{/admin/users}" enctype="multipart/form-data">
                <div class="mb-3 mt-3">
                    <label for="firstName" class="form-label">Tên người dùng: </label>
                    <input type="text" class="form-control" id="firstName" placeholder="Nhập tên người dùng" th:field="*{firstName}" />
                </div><div class="mb-3 mt-3">
                    <label for="lastName" class="form-label">Họ người dùng: </label>
                    <input type="text" class="form-control" id="lastName" placeholder="Nhập họ người dùng" th:field="*{lastName}" />
                </div>
                <div class="mb-3 mt-3">
                    <label for="username" class="form-label">Tên tài khoản: </label>
                    <input type="text" class="form-control" id="username" placeholder="Nhập tên tài khoản" th:field="*{username}" />
                </div>
                <div class="mb-3 mt-3">
                    <label for="password" class="form-label">Mật khẩu: </label>
                    <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu" th:field="*{password}" />
                </div>
                <div class="mb-3 mt-3">
                    <label for="phone" class="form-label">Số điện thoại: </label>
                    <input type="text" class="form-control" id="phone" placeholder="Nhập số điện thoại" th:field="*{phone}" />
                </div>
                <div class="mb-3 mt-3">
                    <label for="avatar" class="form-label">Avatar: </label>
                    <input type="file" class="form-control" id="avatar" th:field="*{avatar}" />
                </div>
                <div class="mb-3 mt-3">
                    <label for="cate" class="form-label">Vai trò: </label>

                    <select class="form-select" th:field="*{userRole}" id="role">
                        <option th:each="r: ${roles}" th:value="${r}" th:text="${r}"></option>
                    </select>
                </div>
                 <button class="btn btn-success mb-2">Thêm người dùng mới</button>
            </form>
        </div>
    </section>
    <div th:replace="~{base :: footer}"></div>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>